/* COLOR SCHEME:
Persian orange: DC965A
Viridian: 5B9279
Ghost White: F7F5FB
COYOTE: 7C6354
BERKELY BLUE: 12355B */
*{
    font-family: 'Fira Sans', sans-serif;}
body {

    /* font-family: Lato, sans-serif; */
    background-color: #DC965A;
}
h1{
    font-family: 'Shrikhand', cursive;
    font-size: 60px;
    color: #12355B;
    margin-bottom: 0%;
}
h2{
    font-family: 'Shrikhand', cursive;
    font-size: 30px;
    color: #F7F5FB;
    margin-top: 0%;
    margin-bottom: 50px;
}
.create-joke{
    z-index: 1;
}
#setup{
    text-align: center;
    font-size: 30px;
    max-width: 600px;
    margin: 0 auto;
}

.scoreboard-container {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 23%; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
  background-color: lightblue;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  text-align: center;
  background-color: #DC965A;
}

.side-bar-container {
    text-align: center;
    width: auto;
    height: 25%;
    margin-bottom: 150px;

}

.side-bar-table {
    margin-left: auto;
    margin-right: auto;
    width: 385px;
}

th {
    font-family: 'Shrikhand', cursive;
    font-size: 18pt;
    color: #12355B;
    background-color: #DC965A;
}

table {
    border-collapse: collapse;
}

tr:hover{
    background-color: #F7F5FB;
}

td {
    height: 75px;
    text-align: left;
    border-color: #F7F5FB;
}

img {
    width: 75px;
    height: 75px;
}

#daddy-says-container {
    height: 300px;
    width: 350px;
    background-color: #F7F5FB;
    border: 20px;
    border-bottom-left-radius: 20px;
    border-radius: 20px;
    border-color: black;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    position: fixed;
    text-align: center;

}

h4 {
    text-align: left;
    text-indent: 20px;
}

h1 {
    text-align: center;
}

.main-section {
    width: 77%;
    text-align: center;
}

#divider {
    width: 90%;
    border-color: #12355B;
}

input {
    margin-top: auto;
    height: 40px;
    width: 200px;
    font-size: 12pt;
    border-radius: 40px;
}
#user-punchline {
    width: 400px;
}
#user-punchline-form {
    border-color: #12355B;
    border: 1px;
}
#newJoke {
    text-align: right;
    margin-right: 50px;
}
.buttons {
    background-color: #F7F5FB;
    border-radius: 40px;
    width:  150px;
    height: 40px;
 cursor: pointer;
}
#daddy {
    z-index: -1;
    height: auto;
    width: auto;
    position:absolute;
    top: 0px;
    margin-bottom: 10px;
}

/* RENDERED JOKE SECTION: */
#voting-instructions{
    font-family: 'Shrikhand', cursive;
    font-size: 30px;
    color: #F7F5FB;
}

#one-joke{
    background-color: #5B9279;
    padding: 10px;
    margin: 20px;
    border-radius: 20px;
}

#punchlines{
    display: flex;
    flex-direction: row;
}

#ai-joke-container{
    background-color: #F7F5FB;
    width: 50%;
    margin: 5px;
    border-radius: 10px;
    cursor: url('src/PhotoRoom_20230214_180624.png'), auto;
}

#user-joke-container{
    background-color: #F7F5FB;
    width: 50%;
    margin: 5px;
    border-radius: 10px;
    cursor: url('src/PhotoRoom_20230214_180624.png'), auto;
}

.name-title{
    font-family: 'Shrikhand', cursive;
    font-size: 20px;
    margin-bottom: 0%;
    color: #12355B;
    text-align: center;
}

.likes-container{
    font-family: 'Shrikhand', cursive;
    font-size: 20px;
    margin-bottom: 10px;
    color: #7C6354;
    text-align: center;
}

/* RENDERED JOKE SECTION: */
#voting-instructions{
    font-family: 'Shrikhand', cursive;
    font-size: 30px;
    color: #F7F5FB;
}

#one-joke{
    background-color: #5B9279;
    padding: 10px;
    margin: 20px;
    border-radius: 20px;
}

#punchlines{
    display: flex;
    flex-direction: row;
}

#ai-joke-container{
    background-color: #F7F5FB;
    width: 50%;
    margin: 5px;
    border-radius: 10px;
}

#user-joke-container{
    background-color: #F7F5FB;
    width: 50%;
    margin: 5px;
    border-radius: 10px;
}

.name-title{
    font-family: 'Shrikhand', cursive;
    font-size: 20px;
    margin-bottom: 0%;
    color: #12355B;
    text-align: center;
}

.likes-container{
    font-family: 'Shrikhand', cursive;
    font-size: 20px;
    margin-bottom: 0%;
    color: #7C6354;
    text-align: center;
}

/* Daddy Says Bar */
#Daddy-Says{
    font-family: 'Shrikhand', cursive;
    font-size: 25px;
    color: #5B9279;
    margin-bottom: 25px;
    margin-top: 10px;
    text-align: center;
}
#daddy-says-user-response{
    font-size: 20px;
    text-align: center;
    margin-top: 15px;
}
#daddy-says-prompt{
    margin: 0 auto;
    max-width: 325px;
    text-align: center;
    font-size: 20px;
    margin: 0%;
}
#daddy-says-username{
    font-family: 'Shrikhand', cursive;
    color: #12355B;
    font-size: 20px;
    margin-top: 15px;
    text-align: center;
}

#daddy-says-likes{
    font-family: 'Shrikhand', cursive;
    color: #7C6354;
    font-size: 20px;
    margin: 0%;
    text-align: center;
}

#recent-scores-title {
    cursor: url('src/Breadstick.png'), auto;
}